html {
    background-color: white;

}
body {
    color: #243f41;
    background-color: white;
}


button {
  color: #2a80b0;
  border: 1px solid #2a80b0;
  text-align: center;
  background: none;
  width: 200px;
}



.actions {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
}

.actions li {
    flex: 1;
    text-align: center;
}

form input {
  width: 100%;
}

form textarea {
  width: 100%;
}

article {
    border: 2px solid #bbb;
    padding: 0.5em;
    margin-top: 1em;
}

.summary,.checkpoint,.actions {
  padding: 0.5em;
}

.summary .diaporama {
  background-color: rgba(0, 0, 0, 0.05);

  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
}

.date {
  font-style: italic;
}

.summary .diaporama li {
    flex: 1;
    margin: 5px;
    text-align: center;
}


.checkpoint form * {
  margin-top: 0.5em;
}
.checkpoint textarea {
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
}
